html{
	font-size:62.5%;          /*Hacemos que 1rem sea equivalente a 10px*/
  font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
 
  }
/* mis estilos*/
/*generales*/
body .fondo{
  background-image: url(/imgs/fondo4.jpg) ;
  content: "";
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}
article{
  display: flex;
  justify-content: center;
}
header{
  display: block;
  top: 0;
  left:0;
  width: 100%;
}
footer{
  height:1.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/*contacto*/

.logo{
  height: 3rem;
}

.contiene-sec{
  background-color:#c8e1f3;
  height:70vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.contiene-art{
  border-style: solid;
  border-width: 5px;
  margin-top: 1rem;
  border-radius: 1rem;
  border-color: #2c4593;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.video{
  width:"560px";
  height:"315px";
  border-style: solid 1px;
}

/* barra de navegacion*/
.topnav {
  display: flex;
  height:100%;
  background-color: #2c4593;
  margin-bottom: .5rem;
}
  
  .topnav a {
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 1.7rem;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #71acd6;
    color: white;
  }
  
 
  /*iconos */

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  width: 2.6rem;
  background-color: #2c4593;
  color: white;
  border-radius: 50%;
  font-size: 1,6rem;
  margin-right: 0.8rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #71acd6;
}

  .posicion{
    top: 50%;
    left: 50%
  }
  
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;

	}
}
footer{
  height: 2.8rem;
  width: 100%;
  display: flex;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-color:  #fff;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}