html{
	font-size:62.5%;          /*Hacemos que 1rem sea equivalente a 10px*/
  font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
 
  }
/* mis estilos*/
/*generales*/

article{
  display: flex;
}
header{
  position: fixed;
  display: block;
  top: 0;
  left:0;
  width: 100%;
}
footer{
  height:1.5rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
/*contacto*/

.logo{
  height: 3rem;
}

.contiene-sec{
  background-color:#c8e1f3;
  height:70vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.contiene-art{
  border-style: solid;
  border-width: 5px;
  margin-top: 1rem;
  border-radius: 1rem;
  border-color: #2c4593;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.contiene-caja{
  margin-top: 1rem;
  height:85%;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.video{
  width:"560px";
  height:"315px";
  border-style: solid 1px;
}
.caja{
  flex-direction: column;
  font-family: 'EB Garamond', serif;
  text-align: justify;
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: 2.2rem;    
  border: solid #2c4593 .2rem;    
  background-color: #c8e1f3; 
  margin: 2rem;    
  width:70%;
  height:100%;
}

.banner{
  display: flex;
}


/* barra de navegacion*/
.topnav {
  display: flex;
  height:100%;
  background-color: #2c4593;
  margin-bottom: .5rem;
}
  
  .topnav a {
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 1.7rem;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #71acd6;
    color: white;
  }
  
  @media screen and (max-width:800px) and (min-width:601px) {
    .contiene-caja{
      flex-direction: column;
    }
  }

  @media screen and (max-width: 1280px) {
    .caja{
      width:70%;
      height:100%;
      font-size: 2.5rem;
    }
  }

  @media screen and (max-width: 800px) {
    .caja{
      width:80%;
      height:100%;
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 600px) {
    .contiene-caja .banner{
      display: none;
    }
    .caja{
      font-family: 'Roboto', sans-serif;
      font-size: 1.5em;
      width:100%;
      height:100%;
    }
    .topnav a{
      font-size: 1.5rem;
    }
  }

  /*iconos */

.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.6rem;
  width: 2.6rem;
  background-color: #2c4593;
  color: white;
  border-radius: 50%;
  font-size: 1,6rem;
  margin-right: 0.8rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #71acd6;
}

  .posicion{
    top: 50%;
    left: 50%
  }
  
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;

	}
}
footer{
  height: 2.8rem;
  width: 100%;
  display: flex;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-color:  #fff;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}