h2{
  margin:.5rem;
  font-size: 1.9rem;
}
p{
  font-size: 1.5rem;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
footer{
  position:fixed;
}
.fondo{
  background-image: url(/imgs/fondo4.jpg) ;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;  
}
.libro {
    margin: 2rem;
    box-shadow: 0 .4rem .8rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20rem;
    border-radius: 5px;
    height:380px;
  }
  
  .libro:hover {
    box-shadow: 0 1rem 1.6rem 0 rgba(0,0,0,0.2);
  }
  
  .libro img {
    width:200px;
    height:200px;
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }

  .fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    
  }

  @media screen and (max-width: 479px) {
     .topnav a{
      font-size: 1rem;
    }
    .libro{
      height:85%;
    }
    footer{
      position:relative;
    }
    
  }
