section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.libro {
    margin: 2rem;
    box-shadow: 0 .4rem .8rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20rem;
    border-radius: 5px;
  }
  
  .libro:hover {
    box-shadow: 0 1rem 1.6rem 0 rgba(0,0,0,0.2);
  }
  
  img {
    width:100%;
    height:auto;
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }

  .fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    
  }