img{
    width: 5rem;
    height:5rem;
}

.libro {
    margin: 2rem;
    box-shadow: 0 .4rem .8rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20rem;
    border-radius: 5px;
    height:380px;
  }
  
  .libro:hover {
    box-shadow: 0 1rem 1.6rem 0 rgba(0,0,0,0.2);
  }
  
  .libro img {
    width:200px;
    height:200px;
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }